<?xml version="1.0" encoding="UTF-8"?>
<!--
  Example launch file for a costmap fusion node
-->
<launch>
  <arg name="resolution" default="0.1" />

  <node pkg="msfm3d" type="costmap_generator" name="costmap_generator">
    <param name="fixedFrame" type="string" value="world"/>
    <param name="rate" value="5.0"/>
    <param name="resolution" value="$(arg resolution)"/>
    <param name="untraversableDistance" value="0.05"/>
    <param name="octomapFreeDistance" value="0.02"/>

    <remap from="esdf" to="edt"/>
    <!-- <remap from="esdf" to="voxblox_node/esdf_pointcloud"/> -->
    <!-- <remap from="octomap_binary" to="merged_map"/> -->
    <!-- <remap from="traversability_map" to="traversability_map"/> -->
  </node>

  <node pkg="nodelet" type="nodelet" name="pcl_manager_costmap" args="manager" output="screen" />

  <!-- Run a passthrough filter to clean NaNs -->
  <!-- <node pkg="nodelet" type="nodelet" name="passthrough_costmap" args="load pcl/PassThrough pcl_manager_costmap" output="screen">
    <remap from="~input" to="cost_map" />
    <remap from="~output" to="cost_map_filtered" />
    <rosparam>
      filter_field_name: intensity
      filter_limit_min: 0.051
      filter_limit_max: 100.0
      filter_limit_negative: False
    </rosparam>
  </node> -->

  <node pkg="nodelet" type="nodelet" name="passthrough_reach" args="load pcl/PassThrough pcl_manager_costmap" output="screen">
    <remap from="~input" to="reach_grid" />
    <remap from="~output" to="reach_grid_filtered" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.0
      filter_limit_max: 0.2
      filter_limit_negative: False
    </rosparam>
  </node>
</launch>
