<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="resolution" default="0.2"/>
  <group ns="X4">
    <node pkg="msfm3d" type="frontier" name="frontier_node" output="screen">
      <param name="update_rate" value="3.0" />
      <param name="map_type" value="octomap" />
      <param name="voxel_size" value="$(arg resolution)"/>
      <param name="cluster_size" value="180"/>

      <param name="filter_by_bbox" value="false"/>
      <param name="bbox_min_z" value = "0.0"/>
      <param name="bbox_max_z" value = "2.5"/>

      <!-- <remap from="edt" to="voxblox_node/esdf_pointcloud"/> -->
      <remap from="octomap_full" to="octomap_ignore"/>
      <!-- <remap from="octomap_binary" to="octomap_ignore"/> -->
    </node>

    <node pkg="nodelet" type="nodelet" name="pcl_manager_cropbox_frontier" args="manager"/>
    <node pkg="nodelet" type="nodelet" name="cropbox_frontier" args="load pcl/CropBox pcl_manager_cropbox_frontier">
      <remap from="~input" to="frontier" />
      <remap from="~output" to="frontier_filtered" />
      <rosparam>
        negative: false
        min_x: 10.0
        max_x: 5000.0
        min_y: -5000.0
        max_y: 5000.0
        min_z: -5000.0
        max_z: 5000.0
      </rosparam>
    </node>

    <node pkg="msfm3d" type="frontier_planner" name="frontier_planner">
      <param name="update_rate" value="1.0"/>
      <param name="voxel_size" value="$(arg resolution)"/>
      <param name="num_agents" value="1"/>
      <param name="goal_separation_distance" value="3.0"/>
      <!-- <param name="speed_max" value="3.0"/>
      <param name="speed_safe" value="1.0"/> -->
      <param name="speed_max" value="5.0"/>
      <param name="speed_safe" value="0.6"/>
      <param name="marching_timeout" value="5.0"/>
      <param name="path_mode" value="gradient"/>
      <param name="turn_rate" value="30.0"/>

      <remap from="speed_map" to="voxblox_node/esdf_pointcloud"/>
      <remap from="path" to="planned_path"/>
      <remap from="odometry" to="odometry_stitch"/>
      <remap from="frontier" to="frontier_filtered"/>
    </node>

    <include file="$(find marble_guidance)/launch/guidance_air.launch"/>
    <!-- <include file="$(find marble_guidance)/launch/guidance.launch"/> -->
    <include file="$(find receding_horizon_stitcher)/launch/stitcher.launch"/>

  </group>
</launch>