<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="resolution" default="0.2"/>
  <group ns="X4">
    <node pkg="msfm3d" type="goal_pose_planner" name="goal_pose_planner" output="screen">
      <param name="update_rate" value="2.0"/>
      <param name="voxel_size" value="$(arg resolution)"/>
      <param name="num_agents" value="1"/>
      <param name="goal_separation_distance" value="3.0"/>
      <param name="speed_max" value="5.0"/>
      <param name="speed_safe" value="0.6"/>
      <param name="marching_timeout" value="15.0"/>
      <param name="path_mode" value="gradient"/>
      <param name="turn_rate" value="30.0"/>

      <remap from="speed_map" to="voxblox_node/esdf_pointcloud"/>
      <remap from="path" to="planned_path"/>
      <remap from="odometry" to="odometry_stitch"/>
    </node>

    <include file="$(find marble_guidance)/launch/guidance_air.launch"/>
    <!-- <include file="$(find marble_guidance)/launch/guidance.launch"/> -->
    <include file="$(find receding_horizon_stitcher)/launch/stitcher.launch"/>

  </group>
</launch>