<launch>
  <!-- <include file="$(find arpg_husky)/launch/hosts.launch"/> -->

  <!-- Robot namespace -->
  <!-- <arg name="machine" default="$(env ROS_HOSTNAME)"/> -->

  <node pkg="msfm3d" type="msfm3d" name="msfm3d" output="screen">
    <!-- Inputs (Subscribed Topic Names) -->

    <!-- <remap from="octomap_binary" to="octomap_full"/> -->
    <remap from="odometry" to="X4/odometry"/>

    <!-- Outputs (Published Topic Names) -->

    <remap from="nearest_frontier" to="X4/nearest_frontier"/>
    <remap from="frontier_goal_pose" to="X4/frontier_goal_pose"/>
    <remap from="planned_path" to="X4/planned_path"/>
    <remap from="frontier" to="X4/frontier"/>
    <remap from="goalFrustum" to="X4/goalFrustum"/>
    <remap from="inflatedOctomap" to="X4/inflatedOctomap"/>
    <remap from="report_artifact" to="X4/report_artifact"/>


    <!-- Parameters -->
    <!-- Map Resolution -->
    <param name="resolution" value="0.2"/>

    <!-- The planner assumes the vehicle is an air vehicle.  If the vehicle is constrained to the ground (wheeled vehicle), set to true. -->
    <param name="isGroundVehicle" value="false"/>

	<!-- Whether or not you want to use an Occupancy Grid or an ESDF map type -->
    <param name="useOctomap" value="true"/>

    <!-- Name of the map world frame -->
    <param name="frame_id" type="string" value="world"/>

    <!-- Vehicle speed in m/s and turnRate in deg/s -->
    <param name="speed" value="1.0"/>
    <param name="turnRate" value="5.0"/>

    <!-- Location of the environment entrance. (Default is [0.0, 0.0, 0.0])  The robot will not explore area within 15 meters of this point -->
    <param name="entrance_x" value="0.0" />
    <param name="entrance_y" value="0.0" />
    <param name="entrance_z" value="1.0" />

    <!-- Camera viewing parameters, angles in degrees, ranges in meters -->
    <param name="cameraVerticalFoV" value="40.0"/>
    <param name="cameraHorizontalFoV" value="60.0"/>
    <param name="cameraMaxRange" value="3.0"/>
    <param name="cameraMinRange" value="1.5"/>

    <!-- Quaternion for rotation from robot orientation to camera orientation (Default is identity rotation matrix) -->
    <!-- <param name="robot2camera_q_w" value="1.0"/>
    <param name="robot2camera_q_x" value="0.0"/>
    <param name="robot2camera_q_y" value="0.0"/>
    <param name="robot2camera_q_z" value="0.0"/> -->

    <!-- Update Rate, default is 1.0 Hz -->
    <param name="updateRate" value="1.0"/>

    <!-- Inflated Obstacle width -->
    <param name="inflateWidth" value="0.2"/>

    <!-- Vehicle Fence Volume Limits -->
    <!-- <param name="fenceOn" value="true"/>
    <param name="fence_xmin", value="-50.0"/>
    <param name="fence_xmax", value="50.0"/>
    <param name="fence_ymin", value="-50.0"/>
    <param name="fence_ymax", value="50.0"/>
    <param name="fence_zmin", value="-50.0"/>
    <param name="fence_zmax", value="50.0"/> -->

    <!-- Fix vehicle goal height (in meters) above map ground level for a quad/ground vehicle -->
    <param name="fixGoalHeightAGL" value="false"/>
    <param name="goalHeightAGL" value="0.64"/>

    <!-- Fix the delta z in voxels from the vehicle current height that are considered frontiers -->
    <param name="dzFrontierVoxelWidth" value="0"/>

  </node>

</launch>
